/*
 * SEARCH FORM
 */

/*
 * GAME
 */

input[type='text'] {
    width: 99%;

    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px 3px 3px 3px;
    padding: 8px 15px 8px 15px;

    font-size: 16px;
    font-family: Tahoma;
    color: rgb(129, 129, 129);

    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
       -moz-box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
            box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
}

.search-button {
    width: 155px;
    display: inline-block;

    background-color: rgb(23, 162, 26);

    border: 0px;
    border-radius: 3px 3px 3px 3px;

    /*width: 154px;*/
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
}

.search-button:active {
    background-color: #006F00;
    color: #ffffff;
}

.search-form .info {
    margin-top: 13px;
}

.div-top {
    float: left;
    width: 27%;

    min-height: 356px;

    border: 1px solid #b9b9b9;
    padding: 17px 19px 17px 19px;
}

.div-top > h1 {
    margin: 0;
    padding-bottom: 20px;

    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
}

.div-top-row:not(:last-child) {
    padding-bottom: 9px;
}

.div-top-row > a,
.div-top-row > a:hover {
    font-size: 14px;
    font-family: Tahoma;
    color: rgb(67, 67, 67);
}

.div-top-row:nth-child(-n+4),
.div-top-row:nth-child(-n+4) > a  {
    color: #c49d00;
}

.top-request {
    text-decoration: none !important;
}

.div-new {
    float: left;
    width: 70%;
    margin-left: 3%;

    min-height: 356px;

    border: 1px solid #b9b9b9;
    padding: 16px 19px 17px 19px;
}

.div-new > h1 {
    margin: 0;
    padding-bottom: 20px;

    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
}

.div-new-game {
    display: inline-block;
    cursor: pointer;
}

.div-new-game:nth-child(-n+3) {
    margin-bottom: 12px;
}

.div-new-game:nth-child(2),
.div-new-game:nth-child(5) {
    margin-left : 0.9%;
    margin-right: 0.9%;
}

.div-game-caption {
    color: #434343;
    font-family: Tahoma;
    font-size: 13px;

    text-align: center;
    margin-top: 8px;
}

/*
 * REVIEWS
 */

.reviews > h2 {
    margin: 0;
    padding-bottom: 20px;

    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
}

.review {
    font-size: 14px;
    font-family: Tahoma;
    min-height: 108px;
}

.review a,
.review a:hover {
    color: #434343;
    /*text-decoration: none;*/
}

.review:not(:first-child) {
    margin-top: 17px;
}

.review .review-img {
    float: left;
}

.review .post {
    margin-left: 250px;
    /*text-align: center;*/
    vertical-align: middle;
}

.review .post .title {
    font-weight: 800;
    min-height: 20px;
}

.review .post .descr {
    min-height: 68px;
    /*text-align: justify;*/
}

.review .post .footer {
    min-height: 20px;
}

/*
 * SEARCH RESULTS
 */

.h1-nothing-found {
    margin: 0px;
    font-size: 18px;
    font-family: Tahoma;
    color: rgb(67, 67, 67);
}

.selected {
    background-color: #edf3f5 !important;
}

.results-info {
    margin-bottom: 17px;
}

.results-info {
    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
}

.results-info .count,
.results-info .sort {
    display: inline-block;
    width: 49.73%;
}

.results-info .sort {
    text-align: right;
}

.results-info .sort a,
.results-info .sort a:hover {
    color: #434343;
    text-decoration: none;
}

.results-info .sort a:first-child {
    text-decoration: underline;
}

.div-results-section > h1 {
    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
    margin: 0 !important;
}

.table-results th {
    font-family: Tahoma;
    font-size: 14px;
}

.table-results th {
    color: #434343;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    border: 0 !important;
}

.table-results td {
    border-top: 1px solid #e2e2e2 !important;
}

.table-results .td-price {
    color: #434343;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 700;
}

.table-results .td-platform,
.table-results .td-store {
    color: #888;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
}

.table-results .game-url {
    color: #17a21a;
    font-family: Tahoma;
    font-size: 14px;
}

/*
 * SUBSCRIBE
 */

.div-subscribe {
    margin-top: 15px;
    margin-left: 100px;
}

.div-subscribe h2 {
    color: #434343;
    font-family: Tahoma;
    font-size: 18px;
}

.div-subscribe-form input[type='email'] {
    display: inline-block;
    width: 243px;

    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px 3px 3px 3px;
    padding: 9px 15px 9px 15px;

    font-size: 16px;
    font-family: Tahoma;
    color: rgb(129, 129, 129);

    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
       -moz-box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
            box-shadow: inset 1px 1px 2px 0px rgba(18,18,18,0.15);
}

.div-subscribe-form button {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-left: 11px;

    background-color: rgb(23, 162, 26);

    border: 0px;
    border-radius: 3px 3px 3px 3px;

    color: rgb(255, 255, 255);
    font-family: Tahoma;
    font-size: 16px;
}

.div-subscribe-form button:disabled {
    cursor: not-allowed;
    background-color: #f6f6f6;
    border: 1px solid #bebebe;
    color: #bebebe;
}

.div-subscribe-form button:active {
    background-color: #006F00;
    color: #ffffff;
}

.div-subscribe-result {
    display: none;
    margin-left: 11px;
}

/*
 * ADAPTIVE
 */

@media screen and (max-width: 1199px) {

    .div-top,
    .div-new {
        width: 49%;
        margin: 0;
    }

    .div-new {
        margin-left: 2%;
    }

    .div-game-caption {
        display: inline-block;
        margin: 0;
        text-align: left;
        cursor: pointer;
    }

    .div-new-table .div-new-game {
        margin: 0;
        display: block;
        margin-bottom: 9px;
    }

    .div-new-game {
        cursor: default;
    }

    .img-game {
        display: none;
    }

    .results-info .count,
    .results-info .sort {
        display: block;
        text-align: left;
        width: 100%;
    }

}

@media screen and (max-width: 719px) {

    .search-results {
        display: none;
    }

    .div-top {
        display: block;
        min-width: 100%;
    }

    .div-new {
        display: inline-block;
        height: auto;

        margin: 0px;
        margin-top: 15px;
        min-width: 100%;
    }

    .div-subscribe {
        margin: 0;
    }

    .div-subscribe button {
        margin-top: 10px;
        margin-left: 0;
    }

}

@media screen and (max-width: 539px) {

    .search-button {
        width: 85px;
        margin-top: 0;
    }

    .review .post {
        clear: both;
        display: block;
        position: relative;
        margin-left: 0px;
    }

}