html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
}

/*
 * MY
 */

.wrap {
    background: #000000;
    background-image: url(/img/back-dsiii.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.site-index {
    background-color: rgb(240, 240, 240);
    overflow: auto;
    position: relative;

    -webkit-box-shadow: 0px 0px 70px 10px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 70px 10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 70px 10px rgba(0,0,0,0.75);
}

/*
 * HEADER
 */

@font-face {
    font-family: BebasNeueBold;
    src: url(/fonts/BebasNeueBold.otf);
}

.text-green {
    color: #17A21A;
}

.text-white {
    color: #ffffff;
}

.text-dkgray {
    color: #434343;
}

.text-ltgray {
    color: #868686;
}

.header-content a {
    text-decoration: none !important;
}

.header-content {
    background-image: url(/img/header-background.png);
    background-color: rgb(41, 41, 41);
    height: 85px;
    opacity: 0.95;
    padding: 10px 35px 5px 35px;
}

.header-content .title {
    display: inline-block;
    font-size: 48px;
    font-family: BebasNeueBold;
    padding: 0px;
}

.header-content .title .space {
    display: inline-block;
    width: 3px;
}

.header-content .delimiter {
    display: inline-block;
    width: 1px;
    background-color: rgb(150, 150, 150);
    height: 34px;
    margin-left: 25px;
    margin-right: 25px;
}

.header-content .description {
    display: inline-block;
    font-size: 14px;
    font-family: Tahoma;
    color: rgb(150, 150, 150);

    top: 50%;
    transform: translateY(-50%);
}

/*
 * CONTAINERS
 */

.body-content .container {
    width: auto;
    background-color: rgb(255, 255, 255);
    margin: 15px 15px 15px 15px;
    padding: 15px 18px 15px 18px;
}

/*
 * FOOTER
 */

div.footer-content {
    width: inherit;
    background-color: #efefef;
    margin: 15px 15px 15px 15px;
    padding: 0px 3px 20px 3px;
}

div.footer-content div.date {
    display: inline-block;
    width: 40%;
    float: left;
    color: #818181;
    font-family: Tahoma;
    font-size: 14px;
}

div.footer-content div.contacts {
    display: inline-block;
    width: 60%;
    float: left;
    text-align: right;
}

div.footer-content div.contacts a {
    color: #818181;
    font-family: Tahoma;
    font-size: 14px;
    padding-left: 10px;
}

/*
 * ADAPTIVE
 */

@media screen and (max-width: 719px) {

    .header-content > .delimiter {
        display: none;
    }

    .header-content > .description {
        display: none;
    }

}