/*
 * Reviews CSS file
 */

.page {
    color: #434343;
    font-family: Tahoma;
    font-size: 14px;
}

.page .header {
    margin-top: 0;
}

.page img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
}

.row {
    margin: 0 !important;
}

.page .col-sm-8,
.page .col-sm-4{
    padding: 0;
}

.post {
    text-align: justify;
}

.post blockquote {
    margin-bottom: 10px !important;
    font-size: 14px;
}

.page .sidebar .container {
    margin-left: 0;
}

.page .sidebar .reviews {
    margin-top: 0;
}

.review .title {
    font-weight: 600;
}

.review .date {
    margin-bottom: 13px;
    color: #868686;
}

.review a,
.review a:hover {
    color: #434343;
    /*text-decoration: none;*/
}

.pluso-wrap a:first-child {
    margin-left: 0 !important;
}

/*
 * ADAPTIVE
 */

@media screen and (max-width: 767px) {

    .page .sidebar .container {
        margin-left: 15px;
    }

}