/*
 * MY
 */

.gray-text {
    color: #818181;
}

.warning {
    color: #ff0000;
}

.attach-images img {
    width: 508px;
    width: 234px;
}

.attach-images img {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
}